.start {
    background-color: royalblue;
    background-image: url(background.jpg);
}

.start h1 {
    color: rgb(25, 30, 100);
    opacity: 0.6;
}

.start p {
    color: #fa237f;
}

#end {
    background-color: rgba(30, 100, 200, 0.8);
    font-family: ttf;
}